html,
        body {
            margin: 0;
            padding: 0;
            font-size: 62.5%;
        }

        @media (max-width: 959px) {
            html,
            body {
                font-size: 50%;
            }
        }

        h1 {
            font-size: 2.6rem;
        }

        h2 {
            font-size: 2.2rem;
        }


        ul {
            list-style: none;
        }

        body {
            background-color: #fff;
            font: 100% Helvetica, "Arial", Georgia, "Times New Roman", Times, serif;
        }

        .wrapper {
            width: 68.86858749121573%;
            background-color: #fff;
            margin: 0 auto;
            padding: 2px;
            font-size: 1.5rem;
        }

        header {
            height: 50px;
            background-color: rgb(23, 188, 243);
        }

        .agodaTitle {
            float: left;
            line-height: 50px;
            color: #fff;
            font-size: 2rem;
            font-weight: bold;
            margin: 0 10px;
        }

        .signIn {
            float: right;
            line-height: 50px;
            color: #fff;
        }

        .createAccount {
            float: right;
            height: 28px;
            margin: 10px 2%;
            border: solid 1px #fff;
            color: #fff;
            padding: 0 2%;
            line-height: 28px;
        }

        .homesContainer {
            background-color: rgb(199, 240, 172);
            background-image: linear-gradient( lightblue, rgb(212, 228, 231));
            display: flow-root;
            padding: 5%;
        }

        .homes,
        .offers {
            width: 50%;
            float: left;
            color: white;
            box-sizing: border-box;
            padding: 10px;
        }

        .homes {
            color: #444;
        }

        .offers1,
        .offers2 {
            height: 300px;
        }

        .offers1 {
            margin: 20px 0px;
        }

        .offers1>div {
            float: left;
            width: 49%;
            height: 100%;
            box-sizing: border-box;
            padding: 10px;
        }

        .offers1>div:first-child {
            margin-right: 2%;
        }

        .offers1 {
            display: flow-root;
        }

        .save {
            background-color: skyblue;
        }

        .host {
            background-color: white;
            color: #0a4867;
        }

        .offerList>div {
            float: left;
            width: 50%;
        }

        .offerList {
            height: 100%;
        }

        .offerList>div {
            background-color: steelblue;
            color: whitesmoke;
            height: 200px;
            width: 49%;
            padding: 10px;
            box-sizing: border-box;

        }

        .offerList>div:first-child {
            margin-right: 2%;
        }

        .offers2 {
            padding: 10px;
            background-color: white;
            height: 300px;
            box-sizing: border-box;
            color: #0a4867;
        }

        .comments,
        .destinations,
        footer {
            width: 100%;
            padding: 20px;
            background-color: #fff;
            box-sizing: border-box;
            padding-top: 50px;
            color: #333;
        }

        .comment {
            float: left;
            width: 32%;
            border-bottom: solid 4px skyblue;
        }

        .comment:not(:last-child) {
            margin-right: 2%;
        }

        .commentsTitle {
            text-align: center;
        }

        .commentList {
            display: flow-root;
        }

        .destinationList {
            display: flow-root;
        }

        .destination {
            float: left;
            width: 23.5%;
        }

        .destinations h2 {
            text-align: center;
        }

        .destination:not(:last-child) {
            margin-right: 2%;
        }

        .destination img {
            width: 100%;
        }

        footer {
            display: flow-root;
            padding: 0 4%;
            box-sizing: border-box;
            background-color: lightgray;
        }

        footer ul {
            float: left;
            width: 20%;
            padding: 0;
            font-weight: bold;
        }

        footer ul li {
            font-weight: normal;
        }

        .float {
            float: left;
        }

        .tab {
            padding: 0 10px;
            line-height: 40px;
            background: rgb(23, 188, 243);
            color: #fff;
        }

        .tab:not(:last-child) {
            border-right: solid 2px #fff;
        }

        .clearFloat {
            display: flow-root;
        }

        .searchInput {
            margin: 20px 0;
            height: 40px;
            width: 80%;
            outline: none;
            border: solid 1px white;
        }

        .searchButton {
            display: block;
            width: 40%;
            height: 40px;
            background: rgb(23, 188, 243);
            outline: none;
            border: solid 1px white;
            box-shadow: 2px 2px 5px white;
            font-size: 18px;
            color: white;
        }

        @media(max-width: 959px) {
            .homes,
            .offers {
                width: 100%;
                float: none;
            }

            footer ul {
                width: 50%;
            }

            .homesContainer {
                display: block;
            }
        }

        @media(max-width: 639px) {
            .wrapper {
                width: 100%;
            }
        }